<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/reset.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="shortcut icon" href="../banco de img/favicon-removebg-preview.png" type="image/x-icon">

    <title>Sobre Nós</title>
</head>
<body>
    <header>
        <h1 class="logo"> UaiTech </h1>
        <div class="searchBar">
            <input class="searchInput" type="text" name="Pesquise" id="">
            <input class="searchButton" type="button" value="Buscar">
        </div>
        <div class="headerItens">
            <a class="headerItem" href="../index.html">Home</a> 
            <a class="headerItem" href="produtos.html">Produtos</a>
            <a class="headerItem" href="frutasDaEstação.html">Frutas da Estação</a>
        </div> 
    </header>

   <main>
        <section>
            <ul class="criadores">
              <li>
                  <img src="https://img.r7.com/images/2017/08/05/5vnzgnyit5_1hokoyfzuc_file.jpg" alt=""> <!-- Imagem da Eduarda-->
                  <h2>Eduarda</h2>
                  <p>Negocios</p>
              </li>
              <li>
                <img src="https://i.pinimg.com/564x/ab/dd/f9/abddf94ad5bf8c24e45338604a75f4c3.jpg" alt=""> <!-- Imagem do Fabricio-->
                <h2>Fabricio</h2>
                <p>Dev. BackEnd</p>
            </li>
            <li>
                <img src="" alt=""> <!-- Imagem do Guilherme-->
                <h2>Guilherme</h2>
                <p>Dev. FrontEnd</p>
            </li>
            <li>
                <img src="" alt=""> <!-- Imagem do Luis Felipe-->
                <h2>Luis Felipe</h2>
                <p>Marketing</p>
            </li>
            <li>
                <img src="" alt=""> <!-- Imagem do Marco Aurelio-->
                <h2>Marco Aurelio</h2>
                <p>Dev. BackEnd</p>
            </li>
            </ul>
            
        </section>
    </main>

    <footer>
        <ul class="footerList">
            <li class="list-inline-item"><a href="../index.html">Home</a></li>
            <li class="list-inline-item"><a href="#">Services</a></li>
            <li class="list-inline-item"><a href="sobre.html">Sobre nós</a></li>
            <li class="list-inline-item"><p class="copyright">UAITECH © 2021</p></li>
        </ul>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>